$color-red: #A51931; 
$color-dark-blue: #05244C; 

$color-green: #188C73;
$color-red: #E34072;
$color-blue: #60C4DF;
$color-orange: #DAA855;



$color-background-body: #ffffff;
$color-text-main: #333333;
$color-text-input: #333333;
