$color-light-blue: #60C4DF; 
$color-dark-blue: #186B90; 
$color-yellow: #ECD460; 
$color-dark-text: #4D4845;
$color-light-text: #fffff0;

$color-background-body: #ffffff;
$color-text-main: $color-dark-text;
$color-text-input: $color-dark-text;
