.o-button {
    @include transition(all .2s ease-in-out);

    display: inline-block;
    padding: 6px 0 6px 0;
    letter-spacing: 0px;
    position: relative;
    margin: 0;
    @include font-size(1.6);
    @include line-height(2.4);
	max-width: 240px;
    text-decoration: none;
    font-family: $font-main;
    text-align: center;
    min-height:25px;
    color: $color-dark-blue;
    text-transform: none;
    z-index: 10;
    border-radius: 45px;
    @include rgba(background-color, white, 0.9, white);

    &:after {
        content: '';
        position: absolute;
        z-index: -1;

        @include transition(all .2s ease-in-out);

        top: 15px;
        right: 30px;
    }
    
    &:focus {
        color: #ffffff;
    }

    &:hover {
        color: $color-dark-blue;
        background-color: #f7e79c;
    }	

    &__long {
        width:100%;
        max-width: 360px;
    }

    &__down {
        &:after {
            top: 20px;
        }
    }
    &__white {
	    @include rgba(background-color, white, 0.9, white);
	    &:hover {
		    background-color: #ffffff;
	    }
    }
    @media (min-width: $screen-sm-min) {
	 
	    
	}
}