%svg-common {
	background: url("../images/sprite.svg") no-repeat;
}

.svg-email-icon {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-email-icon-dims {
	width: 22px;
	height: 22px;
}

.svg-telephone-icon {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-telephone-icon-dims {
	width: 22px;
	height: 22px;
}

.svg-twitter-icon {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-twitter-icon-dims {
	width: 22px;
	height: 22px;
}

