.u-text-center {

}

.u-text-bold {

}

.u-text-bolder {
 
}

.u-text-white {

}

.u-font-light {
  
}

.u-clear {
	
	&::before,
	&::after {
		content: " ";
		display: table;
	}
	&::after {
		clear: both;
	}
	
}