.c-nav {
	
	background-color: $color-dark-blue;
	padding: 0 15px;
	
	&-menu {
		width:100%;
		&--primary {	
			padding-top: 10px;
			padding-bottom: 20px;
		}
		
		&__list {

			padding-left: 0;
			text-align: left;
			margin-top: 0;

		}		
	}

	.menu-main-menu {
		list-style: none;
		padding-left: 0;
		
		.menu-item {
			padding: 3px 0;
			a {
				color: #e1e1e1;
			}
		}
		.sub-menu {
			list-style: none;
			padding-left: 10px;
			
			a {
				color: #B4B4B4;
			}
		}
	}

	@media (min-width: $screen-sm-min) {
		
		padding: 0;
		
		&-menu {
			&--primary {
				padding-top: 0;
				padding-bottom: 0;
				overflow: hidden;
			}
			&__list {
				width:750px;
				margin-left: auto;
				margin-right: auto;
			}
			
		}
		
		.menu-main-menu {
			height:170px;
			margin-top: 0;
			padding-top: 30px;
			margin-bottom: 30px;
			.menu-item {
				padding-left: 12px;
				width:20%;
				vertical-align: top; 
				a {
					&:hover {
						color: #ffffff;
					}
				}
			}
			.services-sub-menu {
				position: absolute;
				top: 0;
				margin-left: 16%;
				padding-left: 0;
				width:80%;
				height:186px;
				padding-bottom: 33px;
				padding-top: 33px;
				a {
					padding-left: 30px;
					&:hover {
						color: #ffffff;
					}
				}
				.sub-menu {
					padding-left: 0;
					margin-top: 3px;
					
					.menu-item {
						width:215px;
						padding-left: 0;
						
						&:nth-child(4) {
							margin-top: -102px;
							margin-left: 220px;
						}
						&:nth-child(n+4) {
							margin-left: 220px;
						}
						&:nth-child(7) {
							margin-top: -102px;
							margin-left: 220px;
						}
						&:nth-child(n+7) {
							margin-left: 405px;
						}
					}
				}

			}
		}
		
		
	}
	
	@media (min-width: $screen-md-min) {
	

		.menu-main-menu {
			> .menu-item {
				margin-left: 20px;
			}
			
			.services-sub-menu {
				width:60%;
				margin-left: 130px;
			}
		}

	}

	@media (min-width: $screen-lg-min) {
		

	
	}

}