.c-page-header {
	width:100%;
	display: none;
	@media (min-width: $screen-sm-min) {
		display: block;
		height:160px;
		position: relative;
		margin-bottom: 20px;
		&::before {
			@include pseudo;
			width:100%;
			height:160px;
			top:0;
		}
		&__heading {
			position: absolute;
			top:-120px;

			h1 {
				color: #ffffff;
			}
			
		}
		&__image {
			height:160px;	
			background-size: cover;
		}
	}
	/* Medium devices (tablets, 992px and up) */
	@media (min-width: $screen-md-min) {
	
		&__heading {
			top:-130px;
		}
	
	}	
}